*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(254,7,7);
background: linear-gradient(0deg, rgba(254,7,7,1) 11%, rgba(242,240,239,1) 34%, rgba(255,0,0,1) 74%, rgba(242,232,231,1) 100%);
}

.navbar-brand img{
    width: 120px;
    height: 50px;
}
.carousel-item img {
    height: 400px;
  }
.cards{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}
.card{
    height: 350px;
}
.card img{
    height: 300px;
}
.chat{
    font-size: 50px;
    color: green;
    display: flex;
    align-items: center;
    animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-decoration: none;
}