*{
    margin: 0;
    padding: 0;
}
body{
   /* background-color: #cc6e87; */
    background-image: url("./Background/3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.navbar-brand img{
    width: 150px;
    height: 70px;
    border-radius: 50px;
}
.carousel-item img {
    height: 450px;
  }
.cards{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}
.card{
    height: 350px;
}
.card img{
    height: 300px;
}
.chat{
    font-size: 50px;
    color: green;
    display: flex;
    align-items: center;
    animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.intro{
    width: 50%;
}
.intro h1{
    text-align: center;

}
.journey{
    display: flex;
}
.image img{
    width:700px;
    height:350px;
}
.real{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.real img{
    border: 2px solid black;
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    animation:heartBeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.location iframe{
    border: none;
    width: 100%;
    height: 300px;
}